/* RESET ===================================================================================== */

html, body {font-size:100%}
html,body,h1,h2,h3,h4,h5,form,fieldset,ul,li {margin:0; padding:0}
h1,h2,h3,h4,h5 {font-weight:normal}
div {clear:both} /* remember to set clear:none on floated divs! */
a img {border:0}
button, #submit, .submit {cursor:pointer}

/* BASIC TYPOGRAPHY =============================================================================== */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?#iefix') format('eot'),
         url('League_Gothic-webfont.woff') format('woff'),
         url('League_Gothic-webfont.ttf') format('truetype'),
         url('League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyUnderwoodRegular';
    src: url('MyUnderwood-webfont.eot');
    src: url('MyUnderwood-webfont.eot?#iefix') format('eot'),
         url('MyUnderwood-webfont.woff') format('woff'),
         url('MyUnderwood-webfont.ttf') format('truetype'),
         url('MyUnderwood-webfont.svg#webfont72lyKL7L') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
background:#000 /*url(../images/21px.png)*/;
font-size:140%; /* Only really works with percentages that make whole, even pixel numbers eg 100% (16px), 87.5% (14px) and 75% (12px) */
font-family:'LeagueGothicRegular', georgia !important; /* only web-safe font to include 'text figures' (also known as 'old-style', 'ranging', 'hanging', 'billing' or 'antique' numerals) */
color:#222; /* high contrast but slightly muted; black on white is too much */
padding:0 0 1.5em 0;
}

pre {
font-family:inherit /* whatever we want pre for, we don't usually want it in a monospaced font */
}

/* PARAGRAPHS -------------------------- */

p {
font-size:1em; /* 0r 16px if body set to 100% | WARNING: Don't change this value; only change the % value in body */
text-indent:1em;
text-align:justify;
word-spacing:0.05em; /* default is approximately 0.25em and this _increments_ it by 0.05em, making it 0.3em  */
line-height:1.5; /* 1.5 x the font size or 24px if the font-size is 100% */
margin:0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, div > p:first-child {
text-indent:0; /* all paragraphs in a set except the first one after a heading should have a text-indent to mark a 'pause'. Uses the adjacent sibling selector to make this so. Works in IE7 and later */
}

p a:link {color:#222;} /* reset to body font colour because we are just relying on an underline style to mark links in paragraphs */
p a:visited{color:#555;} /* subtely indicates where one has been */
p a:hover {text-decoration:none; border-bottom:1px dashed;} /* a half-way state */
a:focus, a:active {border:0; outline:1px dashed;} /* completes by fully encapsulating the link in a dashed line. Note: outline works better as an active or focus style because, unlike border, it draws around the perimeter of images properly. Applies to all links for tabbing purposes... */

/* INLINE (WITHIN PARAGRAPH) STYLES -------------------------- */

strong { /* the key with inline styles is to take away in line-height anything you add in font-size */
font-size:1.2em;
line-height:0.8;
}

/* HEADINGS --------------------------- */

h1, h2, h3, h4, h5 {
line-height:1; /* this value must be '1' (1 x the font-size ie. equal to the font-size) */
padding:1em 0; /* Spacing (padding) above and below the text should be equal to the font-size. This not only keeps rhythm with the overall document but adds an _internal_ rhythm to the heading (spacing is equal to line-height) */
}

h1 {
font-size:3em; /* for the following properties to work and the vertical rhythm to be maintained, has to be divisible by 0.5 */
}

h2 {
font-size:2em; /* NOTE: For headings that (are likely to) wrap onto 2 lines the font-size must be divisible by 1.5 (1.5em, 3em, 4.5em etc.) */
}

/* STRINGS OF CAPITALS ---------------------- */

acronym {
letter-spacing:0.25em; /* set spacing on acronyms for better legibility and greater distinction. Note: not bothering with <abbr> because the spec' is unclear */
font-weight:bold;
cursor: help;
}

/* SHORT QUOTATIONS AND BLOCKQUOTES --------- */

blockquote {
margin:0;
padding:1.5em; /* contains a paragraph so just needs a full line (ie. the height of a paragraph line) above and below to space to maintain rhythm. In this example, I've also added left and right padding  */
}

blockquote p {
font-style:italic;
}

blockquote.with-outline {
outline:5px solid; /* important to use outline - NOT border - because border adds its width and jogs the flow */ 
padding:1.5em;
margin:1.5em;
}

/* LAYOUT ======================================================================================= */

#container {
width:960px; /* Should be reasonably narrow (preferably less than 75 characters including spaces) for ease of scanning */ 
margin:0 auto;
padding:20px 0 0 0;
}

img#logo {
display:block;
width:300px;
margin:10px auto;
}

#body {
float:right;
clear:none;
width:500px;
}

#aside {
float:left;
clear:none;
width:200px;
}

/* ASIDE ---------------------- */

ul {
padding:1.5em;
font-size:1em;
line-height:1.5;
list-style:circle inside;
font-style:italic;
}

/* TIMELINE ======================================================================================= */

#timeline-container {
padding:0 0 0 160px;
background:url(images/logo_back.png) no-repeat left center;
}

#timeline {
height:200px;
}

#details {
padding:20px 0 0 0;
}

#details img {
display:block;
float:left;
clear:none;
width:300px;
height:300px;
}

#summary-stats {
width:300px;
float:right;
clear:none;
}

#summary-stats p {
text-align:left;
color:#cccc33;
margin:0;
font-size:150%;
}

#summary-stats acronym {
letter-spacing:3px;
}

#summary-stats h2 {
padding:0 0 10px 0;
font-size:4em;
color:#fff;
line-height:1;
}

#summary-stats h2 span {
vertical-align:super;
font-size:0.4em;
}

p.duration {
color:#8a3636 !important;
}

.timeline-event-label {
font-size:50%;
color:#999;
}

div.timeline-small-event-tape {
background:#cccc33;
}

div.timeline-event-tape {
background:transparent url(images/yellow_stripe.png);
}

div.timeline-event-icon {
width:10px;
height:10px;
background:transparent url(images/event_star.png) no-repeat left top;
}

div.timeline-event-icon img {
display:none;
}

div.foir {
width:860px;
height:430px;
overflow:hidden;
border:2px solid #fff;
}

div.foir h2 {
text-align:center;
height:50px;
line-height:50px;
padding:0;
color:#fff;
background:#8a3636;
font-family:'MyUnderwoodRegular', serif;
}

div#cloud, div#summary, div#description {
width:280px;
height:300px;
float:left;
clear:none;
color:#fff;
}

div#cloud img  {
width:100%;
}

div#summary p {
text-indent:0;
text-align:left;
text-transform:uppercase;
font-size:130%;
color:#cccc33;
}

div#summary p span {
color:#fff;
}

div#description blockquote {
padding:10px 1em;
}

div#description blockquote p {
font-size:90%;
text-align:center;
font-weight:bold;
}

div#description {
font-family:georgia, serif;
}

.inner {
padding:10px 1em;
}

#feedback {
font-size:120%;
color:#fff;
clear:both;
border-top:1px dashed;
height:80px;
padding:25px 0 0 200px;
}

form span {
font-size:140%;
color:#cccc33;
line-height:0.8;
}

/*------------------- Horizontal / Vertical lines ----------------*/

/* style for ethers */
.timeline-ether-lines{border-color:#fff; border-style:solid; position:absolute;}
.timeline-horizontal .timeline-ether-lines{border-width:0 0 0 1px; height:100%; top: 0; width: 1px;}
.timeline-vertical .timeline-ether-lines{border-width:1px 0 0; height:1px; left: 0; width: 100%;}



/*---------------- Weekends ---------------------------*/
.timeline-ether-weekends{
	position:absolute;
	background:transparent;
}

.timeline-vertical .timeline-ether-weekends{left:0;width:100%;}
.timeline-horizontal .timeline-ether-weekends{top:0; height:100%;}


/*-------------------------- HIGHLIGHT DECORATORS -------------------*/
/* Used for decorators, not used for Timeline Highlight              */
.timeline-highlight-decorator,
.timeline-highlight-point-decorator{
	position:absolute;
	overflow:hidden;
}

/* Width of horizontal decorators and Height of vertical decorators is
   set in the decorator function params */
.timeline-horizontal .timeline-highlight-point-decorator,
.timeline-horizontal .timeline-highlight-decorator{
top:0;
height:100%;
}

.timeline-vertical .timeline-highlight-point-decorator,
.timeline-vertical .timeline-highlight-decorator{
	width:100%;
	left:0;
}

.timeline-highlight-decorator{background-color:;}
.timeline-highlight-point-decorator{background-color:#ff5;}


/*---------------------------- LABELS -------------------------*/
.timeline-highlight-label {
  position:absolute; overflow:hidden; font-size:200%;
  font-weight:bold; color:#999; }


/*---------------- VERTICAL LABEL -------------------*/
.timeline-horizontal .timeline-highlight-label {top:0; height:100%;}
.timeline-horizontal .timeline-highlight-label td {vertical-align:middle;}
.timeline-horizontal .timeline-highlight-label-start {text-align:right;}
.timeline-horizontal .timeline-highlight-label-end {text-align:left;}


/*---------------- HORIZONTAL LABEL -------------------*/
.timeline-vertical .timeline-highlight-label {left:0;width:100%;}
.timeline-vertical .timeline-highlight-label td {vertical-align:top;}
.timeline-vertical .timeline-highlight-label-start {text-align:center;}
.timeline-vertical .timeline-highlight-label-end {text-align:center;}


/*-------------------------------- DATE LABELS --------------------------------*/
.timeline-date-label {
  position: absolute;
  border: solid #fff;
  color: #fff;
  width: 5em;
  height: 1.5em;}
.timeline-date-label-em {color: #fff; font-size:120%;}

/* horizontal */
.timeline-horizontal .timeline-date-label{padding-left:2px;}
.timeline-horizontal .timeline-date-label{border-width:0 0 0 1px; border-color:#fff !important;}
.timeline-horizontal .timeline-date-label-em{height:2em}

/* vertical */
.timeline-vertical .timeline-date-label{padding-top:2px;}
.timeline-vertical .timeline-date-label{border-width:1px 0 0; border-color:#fff !important;}
.timeline-vertical .timeline-date-label-em{width:7em}


/*------------------------------- Ether.highlight -------------------------*/
.timeline-ether-highlight{position:absolute; background-color:#8a3636;}
.timeline-horizontal .timeline-ether-highlight{top:2px;}
.timeline-vertical .timeline-ether-highlight{left:2px;}


/*------------------------------ EVENTS ------------------------------------*/
.timeline-event-icon, .timeline-event-label,.timeline-event-tape{
	position:absolute;
	cursor:pointer;
}

.timeline-event-tape,
.timeline-small-event-tape,
.timeline-small-event-icon{
	background-color:#58A0DC;
	overflow:hidden;
}

.timeline-small-event-tape,
.timeline-small-event-icon{
	position:absolute;
}

.timeline-small-event-icon{width:1px; height:6px;}

  
/*--------------------------------- TIMELINE-------------------------*/
.timeline-ether-bg{width:100%; height:100%;}
.timeline-band-0 .timeline-ether-bg{background:transparent !important}
.timeline-band-1 .timeline-ether-bg{background:transparent}
.timeline-band-2 .timeline-ether-bg{background:transparent !important;}
.timeline-band-3 .timeline-ether-bg{background:transparent !important;}
.timeline-duration-event {
    position: absolute;
    overflow: hidden;
    border: 1px solid #fff !important;
}

.timeline-instant-event2 {
    position: absolute;
    overflow: hidden;
    border-left: 1px solid #fff !important;
    padding-left: 2px;
}

.timeline-instant-event {
    position: absolute;
    overflow: hidden;
}

.timeline-event-bubble-title {
    font-weight: bold;
    border-bottom: 2px solid #fff;
    margin-bottom: 0.5em;
}

.timeline-event-bubble-body {
}

.timeline-event-bubble-wiki {
    margin:     0.5em;
    text-align: right;
    color:      #A0A040;
}
.timeline-event-bubble-wiki a {
    color:      #A0A040;
}

.timeline-event-bubble-time {
    color: #fff;
}

.timeline-event-bubble-image {
    float: right;
    padding-left: 5px;
    padding-bottom: 5px;
}.timeline-container {
    position: relative;
    overflow: hidden;
}

.timeline-copyright {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    cursor: pointer;
}

.timeline-message-container {
    position:   absolute;
    top:        30%;
    left:       35%;
    right:      35%;
    z-index:    1000;
    display:    none;
}
.timeline-message {
    font-size:      120%;
    font-weight:    bold;
    text-align:     center;
}
.timeline-message img {
    vertical-align: middle;
}

.timeline-band {
    position:   absolute;
    background: transparent !important;
    z-index:    10;
}

.timeline-band-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.timeline-band-input {
    position:   absolute;
    width:      1em;
    height:     1em;
    overflow:   hidden;
    z-index:    0;
}
.timeline-band-input input{
    width:      0;
}

.timeline-band-layer {
    position:   absolute;
    width:      100%;
    height:     100%;
}

.timeline-band-layer-inner {
    position:   relative;
    width:      100%;
    height:     100%;
}

img.timeline-copyright {
display:none;
}
